<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youkang.system.mapper.CustomerInfoMapper">

    <select id="customerSelector" resultType="com.youkang.system.domain.resp.customer.CustomerSelectorResp">
        select yci.id as customerId,yci.customer_name,yci.subject_group_id,ysgi.name as subjectGroupName,
               yci.address,yci.email,yci.phone,yci.customer_unit
        from yk_customer_info yci
        left join yk_subject_group_info ysgi on yci.subject_group_id = ysgi.id
        <where>
            <if test="queryString != null and queryString != ''">
                yci.id like concat('%',#{queryString},'%')
                or yci.customer_name like concat('%',#{queryString},'%')
            </if>
        </where>
    </select>

</mapper>
