<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youkang.system.mapper.SampleInfoMapper">

    <select id="queryPage" resultType="com.youkang.system.domain.resp.order.SampleResp">
        SELECT
            s.order_id AS orderId,
            s.order_history AS orderHistory,
            s.sample_id AS sampleId,
            s.sample_type AS sampleType,
            s.sample_position AS samplePosition,
            s.primer,
            s.primer_type AS primerType,
            s.primer_position AS primerPosition,
            s.primer_concentration AS primerConcentration,
            s.seq,
            s.project,
            s.carrier_name AS carrierName,
            s.antibiotic_type AS antibioticType,
            s.plasmid_length AS plasmidLength,
            s.fragment_size AS fragmentSize,
            s.test_result AS testResult,
            s.origin_concentration AS originConcentration,
            s.template_plate_no AS templatePlateNo,
            s.template_hole_no AS templateHoleNo,
            s.performance,
            s.return_state AS returnState,
            s.flow_name AS flowName,
            s.plate_no AS plateNo,
            s.hole_no AS holeNo,
            s.belong_company AS belongCompany,
            s.produce_company AS produceCompany,
            s.produce_id AS produceId,
            s.hole_number AS holeNumber,
            s.layout,
            s.origin_hole_no AS originHoleNo,
            s.belong_lab AS belongLab,
            s.report_status AS reportStatus,
            s.report_error_reason AS reportErrorReason,
            s.reimburse_status AS reimburseStatus,
            s.create_user AS createUser,
            s.create_time AS createTime,
            s.update_user AS updateUser,
            s.update_time AS updateTime,
            s.remark,
            c.customer_name AS customerName,
            c.id AS customerId,
            c.address AS customerAddress
        FROM yk_sample_info s
        LEFT JOIN yk_order_info o ON s.order_id = o.order_id
        LEFT JOIN yk_customer_info c ON o.customer_id = c.id
        <where>
            <if test="query.orderId != null and query.orderId != ''">
                AND s.order_id LIKE CONCAT('%', #{query.orderId}, '%')
            </if>
            <if test="query.orderHistory != null and query.orderHistory != ''">
                AND s.order_history LIKE CONCAT('%', #{query.orderHistory}, '%')
            </if>
            <if test="query.sampleId != null and query.sampleId != ''">
                AND s.sample_id LIKE CONCAT('%', #{query.sampleId}, '%')
            </if>
            <if test="query.sampleType != null and query.sampleType != ''">
                AND s.sample_type = #{query.sampleType}
            </if>
            <if test="query.primer != null and query.primer != ''">
                AND s.primer LIKE CONCAT('%', #{query.primer}, '%')
            </if>
            <if test="query.primerType != null and query.primerType != ''">
                AND s.primer_type = #{query.primerType}
            </if>
            <if test="query.project != null and query.project != ''">
                AND s.project = #{query.project}
            </if>
            <if test="query.carrierName != null and query.carrierName != ''">
                AND s.carrier_name LIKE CONCAT('%', #{query.carrierName}, '%')
            </if>
            <if test="query.antibioticType != null and query.antibioticType != ''">
                AND s.antibiotic_type = #{query.antibioticType}
            </if>
            <if test="query.testResult != null and query.testResult != ''">
                AND s.test_result = #{query.testResult}
            </if>
            <if test="query.performance != null and query.performance != ''">
                AND s.performance = #{query.performance}
            </if>
            <if test="query.returnState != null and query.returnState != ''">
                AND s.return_state = #{query.returnState}
            </if>
            <if test="query.flowName != null and query.flowName != ''">
                AND s.flow_name LIKE CONCAT('%', #{query.flowName}, '%')
            </if>
            <if test="query.plateNo != null and query.plateNo != ''">
                AND s.plate_no LIKE CONCAT('%', #{query.plateNo}, '%')
            </if>
            <if test="query.belongCompany != null and query.belongCompany != ''">
                AND s.belong_company LIKE CONCAT('%', #{query.belongCompany}, '%')
            </if>
            <if test="query.produceCompany != null and query.produceCompany != ''">
                AND s.produce_company LIKE CONCAT('%', #{query.produceCompany}, '%')
            </if>
            <if test="query.produceId != null">
                AND s.produce_id = #{query.produceId}
            </if>
            <if test="query.createUser != null and query.createUser != ''">
                AND s.create_user LIKE CONCAT('%', #{query.createUser}, '%')
            </if>
            <if test="query.customerName != null and query.customerName != ''">
                AND c.customer_name LIKE CONCAT('%', #{query.customerName}, '%')
            </if>
        </where>
        ORDER BY s.create_time DESC
    </select>

    <select id="queryList" resultType="com.youkang.system.domain.resp.order.SampleResp">
        SELECT
            s.order_id AS orderId,
            s.order_history AS orderHistory,
            s.sample_id AS sampleId,
            s.sample_type AS sampleType,
            s.sample_position AS samplePosition,
            s.primer,
            s.primer_type AS primerType,
            s.primer_position AS primerPosition,
            s.primer_concentration AS primerConcentration,
            s.seq,
            s.project,
            s.carrier_name AS carrierName,
            s.antibiotic_type AS antibioticType,
            s.plasmid_length AS plasmidLength,
            s.fragment_size AS fragmentSize,
            s.test_result AS testResult,
            s.origin_concentration AS originConcentration,
            s.template_plate_no AS templatePlateNo,
            s.template_hole_no AS templateHoleNo,
            s.performance,
            s.return_state AS returnState,
            s.flow_name AS flowName,
            s.plate_no AS plateNo,
            s.hole_no AS holeNo,
            s.belong_company AS belongCompany,
            s.produce_company AS produceCompany,
            s.produce_id AS produceId,
            s.hole_number AS holeNumber,
            s.layout,
            s.origin_hole_no AS originHoleNo,
            s.belong_lab AS belongLab,
            s.report_status AS reportStatus,
            s.report_error_reason AS reportErrorReason,
            s.reimburse_status AS reimburseStatus,
            s.create_user AS createUser,
            s.create_time AS createTime,
            s.update_user AS updateUser,
            s.update_time AS updateTime,
            s.remark,
            c.customer_name AS customerName,
            c.id AS customerId,
            c.address AS customerAddress
        FROM yk_sample_info s
        LEFT JOIN yk_order_info o ON s.order_id = o.order_id
        LEFT JOIN yk_customer_info c ON o.customer_id = c.id
        <where>
            <if test="query.orderId != null and query.orderId != ''">
                AND s.order_id LIKE CONCAT('%', #{query.orderId}, '%')
            </if>
            <if test="query.orderHistory != null and query.orderHistory != ''">
                AND s.order_history LIKE CONCAT('%', #{query.orderHistory}, '%')
            </if>
            <if test="query.sampleId != null and query.sampleId != ''">
                AND s.sample_id LIKE CONCAT('%', #{query.sampleId}, '%')
            </if>
            <if test="query.sampleType != null and query.sampleType != ''">
                AND s.sample_type = #{query.sampleType}
            </if>
            <if test="query.primer != null and query.primer != ''">
                AND s.primer LIKE CONCAT('%', #{query.primer}, '%')
            </if>
            <if test="query.primerType != null and query.primerType != ''">
                AND s.primer_type = #{query.primerType}
            </if>
            <if test="query.project != null and query.project != ''">
                AND s.project = #{query.project}
            </if>
            <if test="query.carrierName != null and query.carrierName != ''">
                AND s.carrier_name LIKE CONCAT('%', #{query.carrierName}, '%')
            </if>
            <if test="query.antibioticType != null and query.antibioticType != ''">
                AND s.antibiotic_type = #{query.antibioticType}
            </if>
            <if test="query.testResult != null and query.testResult != ''">
                AND s.test_result = #{query.testResult}
            </if>
            <if test="query.performance != null and query.performance != ''">
                AND s.performance = #{query.performance}
            </if>
            <if test="query.returnState != null and query.returnState != ''">
                AND s.return_state = #{query.returnState}
            </if>
            <if test="query.flowName != null and query.flowName != ''">
                AND s.flow_name LIKE CONCAT('%', #{query.flowName}, '%')
            </if>
            <if test="query.plateNo != null and query.plateNo != ''">
                AND s.plate_no LIKE CONCAT('%', #{query.plateNo}, '%')
            </if>
            <if test="query.belongCompany != null and query.belongCompany != ''">
                AND s.belong_company LIKE CONCAT('%', #{query.belongCompany}, '%')
            </if>
            <if test="query.produceCompany != null and query.produceCompany != ''">
                AND s.produce_company LIKE CONCAT('%', #{query.produceCompany}, '%')
            </if>
            <if test="query.produceId != null">
                AND s.produce_id = #{query.produceId}
            </if>
            <if test="query.createUser != null and query.createUser != ''">
                AND s.create_user LIKE CONCAT('%', #{query.createUser}, '%')
            </if>
            <if test="query.customerName != null and query.customerName != ''">
                AND c.customer_name LIKE CONCAT('%', #{query.customerName}, '%')
            </if>
        </where>
        ORDER BY s.create_time DESC
    </select>

    <select id="queryById" resultType="com.youkang.system.domain.resp.order.SampleResp">
        SELECT
            s.order_id AS orderId,
            s.order_history AS orderHistory,
            s.sample_id AS sampleId,
            s.sample_type AS sampleType,
            s.sample_position AS samplePosition,
            s.primer,
            s.primer_type AS primerType,
            s.primer_position AS primerPosition,
            s.primer_concentration AS primerConcentration,
            s.seq,
            s.project,
            s.carrier_name AS carrierName,
            s.antibiotic_type AS antibioticType,
            s.plasmid_length AS plasmidLength,
            s.fragment_size AS fragmentSize,
            s.test_result AS testResult,
            s.origin_concentration AS originConcentration,
            s.template_plate_no AS templatePlateNo,
            s.template_hole_no AS templateHoleNo,
            s.performance,
            s.return_state AS returnState,
            s.flow_name AS flowName,
            s.plate_no AS plateNo,
            s.hole_no AS holeNo,
            s.belong_company AS belongCompany,
            s.produce_company AS produceCompany,
            s.produce_id AS produceId,
            s.hole_number AS holeNumber,
            s.layout,
            s.origin_hole_no AS originHoleNo,
            s.belong_lab AS belongLab,
            s.report_status AS reportStatus,
            s.report_error_reason AS reportErrorReason,
            s.reimburse_status AS reimburseStatus,
            s.create_user AS createUser,
            s.create_time AS createTime,
            s.update_user AS updateUser,
            s.update_time AS updateTime,
            s.remark,
            c.id AS customerId,
            c.customer_name AS customerName,
            c.address AS customerAddress
        FROM yk_sample_info s
        LEFT JOIN yk_order_info o ON s.order_id = o.order_id
        LEFT JOIN yk_customer_info c ON o.customer_id = c.id
        WHERE s.produce_id = #{produceId}
    </select>

    <select id="queryByOrderIdAndProduceId" resultType="com.youkang.system.domain.resp.order.SampleResp">
        SELECT
            s.order_id AS orderId,
            s.order_history AS orderHistory,
            s.sample_id AS sampleId,
            s.sample_type AS sampleType,
            s.sample_position AS samplePosition,
            s.primer,
            s.primer_type AS primerType,
            s.primer_position AS primerPosition,
            s.primer_concentration AS primerConcentration,
            s.seq,
            s.project,
            s.carrier_name AS carrierName,
            s.antibiotic_type AS antibioticType,
            s.plasmid_length AS plasmidLength,
            s.fragment_size AS fragmentSize,
            s.test_result AS testResult,
            s.origin_concentration AS originConcentration,
            s.template_plate_no AS templatePlateNo,
            s.template_hole_no AS templateHoleNo,
            s.performance,
            s.return_state AS returnState,
            s.flow_name AS flowName,
            s.plate_no AS plateNo,
            s.hole_no AS holeNo,
            s.belong_company AS belongCompany,
            s.produce_company AS produceCompany,
            s.produce_id AS produceId,
            s.hole_number AS holeNumber,
            s.layout,
            s.origin_hole_no AS originHoleNo,
            s.belong_lab AS belongLab,
            s.report_status AS reportStatus,
            s.report_error_reason AS reportErrorReason,
            s.reimburse_status AS reimburseStatus,
            s.create_user AS createUser,
            s.create_time AS createTime,
            s.update_user AS updateUser,
            s.update_time AS updateTime,
            s.remark,
            c.id AS customerId,
            c.customer_name AS customerName,
            c.address AS customerAddress
        FROM yk_sample_info s
        LEFT JOIN yk_order_info o ON s.order_id = o.order_id
        LEFT JOIN yk_customer_info c ON o.customer_id = c.id
        WHERE s.order_id = #{orderId}
          AND s.prouce_id in
        <foreach item="produceId" collection="produceIdList" separator="," open="(" close=")">
            #{produceId}
        </foreach>
    </select>

    <select id="getSampleCount" resultType="int">
        select count(distinct sample_id) from yk_sample_info
        where order_id = #{orderId}
          and produce_id in
        <foreach item="produceId" collection="produceIdList" separator="," open="(" close=")">
            #{produceId}
        </foreach>
    </select>

    <select id="queryTemplatePage" resultType="com.youkang.system.domain.resp.order.SampleTemplateResp">
        SELECT
        s.order_id AS orderId,
        s.sample_id AS sampleId,
        MAX(s.produce_id) AS produceId,
        COUNT(*) AS templateNumber,
        MAX(c.customer_name) AS customerName,
        MAX(c.address) AS customerAddress,
        MAX(s.sample_type) AS sampleType,
        MAX(s.primer) AS primer,
        MAX(s.primer_concentration) AS primerConcentration,
        MAX(s.carrier_name) AS carrierName,
        MAX(s.antibiotic_type) AS antibioticType,
        MAX(s.fragment_size) AS fragmentSize,
        MAX(s.test_result) AS testResult,
        MAX(s.origin_concentration) AS originConcentration,
        MAX(s.template_plate_no) AS templatePlateNo,
        MAX(s.template_hole_no) AS templateHoleNo,
        MAX(s.performance) AS performance,
        MAX(s.return_state) AS returnState,
        MAX(s.flow_name) AS flowName,
        MAX(s.create_user) AS createUser,
        MAX(s.origin_hole_no) AS originHoleNo,
        MAX(s.belong_lab) AS belongLab,
        MAX(s.report_status) AS reportStatus,
        MAX(s.report_error_reason) AS reportErrorReason,
        MAX(s.remark) AS remark
        FROM yk_sample_info s
        LEFT JOIN yk_order_info o ON s.order_id = o.order_id
        LEFT JOIN yk_customer_info c ON o.customer_id = c.id
        where flow_name = '0'
        <if test="query.orderId != null and query.orderId != ''">
            AND s.order_id = #{query.orderId}
        </if>
        <if test="query.sampleId != null and query.sampleId != ''">
            AND s.sample_id = #{query.sampleId}
        </if>
        <if test="query.customerName != null and query.customerName != ''">
            AND c.customer_name LIKE CONCAT('%', #{query.customerName}, '%')
        </if>
        <if test="query.returnState != null">
            AND s.return_state = #{query.returnState}
        </if>
        GROUP BY s.order_id, s.sample_id
        ORDER BY MAX(s.create_time) DESC
    </select>

    <select id="selectUsedHolesByPlateNo" resultType="com.youkang.system.domain.resp.order.UsedTemplateHoleResp">
        SELECT template_hole_no,produce_id
        FROM yk_sample_info
        WHERE template_plate_no = #{plateNo}
          AND template_hole_no IS NOT NULL
          AND template_hole_no != ''
        ORDER BY template_hole_no
    </select>


    <select id="templateBDT" resultType="com.youkang.system.domain.resp.order.SampleTemplateResp">
        SELECT
        s.order_id AS orderId,
        COUNT(*) AS templateNumber,
        MAX(c.customer_name) AS customerName,
        MAX(c.address) AS customerAddress,
        s.sample_id AS sampleId,
        MAX(s.sample_type) AS sampleType,
        MAX(s.primer) AS primer,
        MAX(s.primer_concentration) AS primerConcentration,
        MAX(s.carrier_name) AS carrierName,
        MAX(s.antibiotic_type) AS antibioticType,
        MAX(s.fragment_size) AS fragmentSize,
        MAX(s.test_result) AS testResult,
        MAX(s.origin_concentration) AS originConcentration,
        MAX(s.template_plate_no) AS templatePlateNo,
        MAX(s.template_hole_no) AS templateHoleNo,
        MAX(s.performance) AS performance,
        MAX(s.return_state) AS returnState,
        MAX(s.flow_name) AS flowName,
        MAX(s.create_user) AS createUser,
        MAX(s.origin_hole_no) AS originHoleNo,
        MAX(s.belong_lab) AS belongLab,
        MAX(s.report_status) AS reportStatus,
        MAX(s.report_error_reason) AS reportErrorReason,
        MAX(s.remark) AS remark
        FROM yk_sample_info s
        LEFT JOIN yk_order_info o ON s.order_id = o.order_id
        LEFT JOIN yk_customer_info c ON o.customer_id = c.id
        WHERE template_plate_no = #{req.templateNo}
        GROUP BY s.order_id, s.sample_id
    </select>

    <select id="queryTemplateProducePage" resultType="com.youkang.system.domain.resp.order.TemplateProduceResp">
        SELECT
        s.order_id AS orderId,
        s.produce_id AS produceId,
        c.customer_name AS customerName,
        c.address AS customerAddress,
        s.sample_id AS sampleId,
        s.sample_type AS sampleType,
        s.primer AS primer,
        s.primer_concentration AS primerConcentration,
        s.carrier_name AS carrierName,
        s.antibiotic_type AS antibioticType,
        s.fragment_size AS fragmentSize,
        s.test_result AS testResult,
        s.origin_concentration AS originConcentration,
        s.template_plate_no AS templatePlateNo,
        s.template_hole_no AS templateHoleNo,
        s.performance AS performance,
        s.return_state AS returnState,
        s.flow_name AS flowName,
        s.create_user AS createUser,
        s.origin_hole_no AS originHoleNo,
        s.belong_lab AS belongLab,
        s.report_status AS reportStatus,
        s.report_error_reason AS reportErrorReason,
        s.remark AS remark
        FROM yk_sample_info s
        LEFT JOIN yk_order_info o ON s.order_id = o.order_id
        LEFT JOIN yk_customer_info c ON o.customer_id = c.id
        where flow_name = #{query.flowName}
        <if test="query.orderId != null and query.orderId != ''">
            AND s.order_id = #{query.orderId}
        </if>
        <if test="query.produceId != null and query.produceId != ''">
            AND s.produce_id = #{query.produceId}
        </if>
        <if test="query.sampleId != null and query.sampleId != ''">
            AND s.sample_id = #{query.sampleId}
        </if>
        <if test="query.customerName != null and query.customerName != ''">
            AND c.customer_name LIKE CONCAT('%', #{query.customerName}, '%')
        </if>
        <if test="query.createUser != null and query.createUser !=''">
            AND s.create_user like CONCAT('%', #{query.createUser},'%')
        </if>
        <if test="query.sampleType != null and query.sampleType !=''">
            AND s.sample_type like CONCAT('%', #{query.sampleType},'%')
        </if>
          <if test="query.templateNo != null and query.templateNo !=''">
            AND s.template_plate_no like CONCAT('%', #{query.templateNo},'%')
        </if>

        ORDER BY s.create_time DESC
    </select>

    <!--======================================PCR切胶查询======================================-->
    <select id="pcrGelCut" resultType="com.youkang.system.domain.resp.order.PCRGelCutResp">
        SELECT
            c.customer_name AS customerName,
            s.produce_id AS produceId,
            s.sample_id AS sampleId,
            s.fragment_size AS fragmentSize
        FROM yk_sample_info s
        LEFT JOIN yk_order_info o ON s.order_id = o.order_id
        LEFT JOIN yk_customer_info c ON o.customer_id = c.id
        <where>
            <if test="req.startOrderNo != null and req.startOrderNo != ''">
                AND s.order_id &gt;= #{req.startOrderNo}
            </if>
            <if test="req.endOrderNo != null and req.endOrderNo != ''">
                AND s.order_id &lt;= #{req.endOrderNo}
            </if>
            <if test="req.belongCompany != null and req.belongCompany != ''">
                AND s.belong_company = #{req.belongCompany}
            </if>
        </where>
        ORDER BY s.order_id, s.sample_id
    </select>

    <!--======================================重抽样品查询======================================-->
    <select id="queryResampleList" resultType="com.youkang.system.domain.resp.order.ResampleResp">
        SELECT
            s.produce_id AS produceId,
            s.origin_hole_no AS originHoleNo,
            c.customer_name AS customerName,
            s.return_state AS returnState,
            s.sample_type AS sampleType,
            s.sample_id AS sampleId,
            s.carrier_name AS carrierName,
            s.antibiotic_type AS antibioticType,
            s.sample_position AS samplePosition,
            s.belong_lab AS belongLab,
            s.report_status AS reportStatus,
            s.remark AS remark
        FROM yk_sample_info s
        LEFT JOIN yk_order_info o ON s.order_id = o.order_id
        LEFT JOIN yk_customer_info c ON o.customer_id = c.id
        <where>
            AND s.return_state IN ('模板重抽', '报告重抽')
            <if test="req.templatePlateNos != null and req.templatePlateNos != ''">
                AND s.template_plate_no IN
                <foreach collection="req.templatePlateNos.split(',')" item="plateNo" open="(" separator="," close=")">
                    #{plateNo}
                </foreach>
            </if>
            <if test="req.belongLab != null and req.belongLab != ''">
                AND s.belong_lab = #{req.belongLab}
            </if>
        </where>
        ORDER BY s.template_plate_no, s.template_hole_no
    </select>

    <!--======================================模板失败样品查询（用于发送邮件）======================================-->
    <select id="queryTemplateFailedList" resultType="com.youkang.system.domain.resp.order.TemplateFailedResp">
        SELECT
            c.id AS customerId,
            c.customer_name AS customerName,
            c.email AS customerEmail,
            s.create_time AS createTime,
            s.order_id AS orderId,
            s.sample_id AS sampleId,
            s.return_state AS returnState,
            s.remark AS remark
        FROM yk_sample_info s
        LEFT JOIN yk_order_info o ON s.order_id = o.order_id
        LEFT JOIN yk_customer_info c ON o.customer_id = c.id
        WHERE s.flow_name = '模板邮件'
          AND c.email IS NOT NULL
          AND c.email != ''
        ORDER BY c.id, s.create_time DESC
    </select>

    <!--======================================测序BDT查询======================================-->
    <select id="sequencingBDT" resultType="com.youkang.system.domain.resp.order.SequencingBDTResp">
        SELECT
            s.order_id AS orderId,
            COUNT(*) AS templateNumber,
            MAX(c.customer_name) AS customerName,
            MAX(c.address) AS customerAddress,
            s.sample_id AS sampleId,
            MAX(s.sample_type) AS sampleType,
            MAX(s.primer) AS primer,
            MAX(s.primer_concentration) AS primerConcentration,
            MAX(s.carrier_name) AS carrierName,
            MAX(s.antibiotic_type) AS antibioticType,
            MAX(s.fragment_size) AS fragmentSize,
            MAX(s.test_result) AS testResult,
            MAX(s.origin_concentration) AS originConcentration,
            MAX(s.plate_no) AS plateNo,
            MAX(s.hole_no) AS holeNo,
            MAX(s.performance) AS performance,
            MAX(s.return_state) AS returnState,
            MAX(s.flow_name) AS flowName,
            MAX(s.create_user) AS createUser,
            MAX(s.produce_id) AS produceId,
            MAX(s.origin_hole_no) AS originHoleNo,
            MAX(s.belong_lab) AS belongLab,
            MAX(s.report_status) AS reportStatus,
            MAX(s.report_error_reason) AS reportErrorReason,
            MAX(s.remark) AS remark
        FROM yk_sample_info s
        LEFT JOIN yk_order_info o ON s.order_id = o.order_id
        LEFT JOIN yk_customer_info c ON o.customer_id = c.id
        WHERE s.plate_no = #{req.plateNo}
        GROUP BY s.order_id, s.sample_id
    </select>

    <!-- 批量追加备注 -->
    <update id="appendRemark">
        UPDATE yk_sample_info
        SET remark = CASE
            WHEN remark IS NULL OR remark = '' THEN #{remark}
            ELSE CONCAT(remark, ';', #{remark})
        END
        WHERE produce_id IN
        <foreach collection="produceIds" item="produceId" open="(" separator="," close=")">
            #{produceId}
        </foreach>
    </update>

</mapper>
