<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youkang.system.mapper.SampleFlowLogMapper">

    <select id="queryPage" resultType="com.youkang.system.domain.resp.order.SampleFlowLogResp">
        SELECT
            id,
            produce_id AS produceId,
            operation,
            flow_name AS flowName,
            plate_no AS plateNo,
            hole_no AS holeNo,
            template_plate_no AS templatePlateNo,
            template_hole_no AS templateHoleNo,
            layout,
            hole_number AS holeNumber,
            origin_concentration AS originConcentration,
            return_state AS returnState,
            remark,
            operator,
            operate_time AS operateTime,
            before_flow_name AS beforeFlowName
        FROM yk_sample_flow_log
        <where>
            <if test="query.produceId != null">
                AND produce_id = #{query.produceId}
            </if>
            <if test="query.operation != null and query.operation != ''">
                AND operation = #{query.operation}
            </if>
            <if test="query.flowName != null and query.flowName != ''">
                AND flow_name LIKE CONCAT('%', #{query.flowName}, '%')
            </if>
            <if test="query.plateNo != null and query.plateNo != ''">
                AND (plate_no LIKE CONCAT('%', #{query.plateNo}, '%')
                     OR template_plate_no LIKE CONCAT('%', #{query.plateNo}, '%'))
            </if>
            <if test="query.templatePlateNo != null and query.templatePlateNo != ''">
                AND template_plate_no = #{query.templatePlateNo}
            </if>
            <if test="query.operator != null and query.operator != ''">
                AND operator LIKE CONCAT('%', #{query.operator}, '%')
            </if>
            <if test="query.startTime != null and query.startTime != ''">
                AND operate_time &gt;= #{query.startTime}
            </if>
            <if test="query.endTime != null and query.endTime != ''">
                AND operate_time &lt;= #{query.endTime}
            </if>
        </where>
        ORDER BY operate_time DESC
    </select>

    <select id="queryByProduceId" resultType="com.youkang.system.domain.resp.order.SampleFlowLogResp">
        SELECT
            id,
            produce_id AS produceId,
            operation,
            flow_name AS flowName,
            plate_no AS plateNo,
            hole_no AS holeNo,
            template_plate_no AS templatePlateNo,
            template_hole_no AS templateHoleNo,
            layout,
            hole_number AS holeNumber,
            origin_concentration AS originConcentration,
            return_state AS returnState,
            remark,
            operator,
            operate_time AS operateTime,
            before_flow_name AS beforeFlowName
        FROM yk_sample_flow_log
        WHERE produce_id = #{produceId}
        ORDER BY operate_time ASC
    </select>

</mapper>
